:root {
    font-size: 16px;
}

body {
    width: 100%;
}

.img {
    width: 3vh;
}

.navbar-toggler-icon {
    background-image: url(/assets/img/iconemenu.jpg);
}

a {
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin-left: 20px;
}


.insta, .in, .fb {
    list-style-type: none;
}

.insta:before {
    content: '';
    display: inline-block;
    height: 35px;
    width: 40px;
    background-image: url(/assets/img/insta.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -40px;
    margin-bottom: -35px;
}


.in:before {
    content: '';
    display: inline-block;
    height: 35px;
    width: 40px;
    background-image: url(/assets/img/in.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -40px;
    margin-bottom: -35px;
}

.fb:before {
    content: '';
    display: inline-block;
    height: 35px;
    width: 40px;
    background-image: url(/assets/img/fb.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -40px;
    margin-bottom: -35px;
}